//
// docs
//

// example html classes
.row {
  margin-bottom: $column-gutter;
  
  @include row();

  .row {
    @include row(nest);
  }
}

@for $i from 1 through $total-columns {
  .span-#{$i} { @include columns($i); }
}

.span-8-offset-4 {
  @include columns(8,4);
}

.span-9-offset-3 {
  @include columns(9,3);
}

.grid-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: $muted;
  
  .grid-content {
    background: darken($muted, 15%);
  }
}
