//
// grixins = grid mixins
//

// variables
// move these to your global variables file if you like
$grid-width:     960px !default;
$column-gutter:  30px !default;
$total-columns:  12 !default;

// set all elements to box-sizing: border-box;
// required for grixins
// move this into your base or reset file
// paulirish.com/2012/box-sizing-border-box-ftw
*,
*:before,
*:after { @include box-sizing(border-box); }

// grid mixins
@mixin row($options...) {
  position: relative;
  
  @if index($options, nest) != false {
    width: auto;
    margin-right: -#{$column-gutter / 2};
    margin-left: -#{$column-gutter / 2};
  }

  @else {
    width: 100%;
    max-width: $grid-width;
    margin-right: auto;
    margin-left: auto;
  }

  @include clearfix();
}

@mixin columns($columns: $total-columns, $offset: 0) {
  float: left;
  width: 100%;
  max-width: percentage($columns / $total-columns);
  padding-left: $column-gutter / 2;
  padding-right: $column-gutter / 2;

  @if $offset > 0 { margin-left: percentage($offset / $total-columns); }
}
