//
// grixins = grid mixins
//

// variables
// move these to your global variables file if you like
$grid-width:     960px !default;
$column-gutter:  30px !default;
$total-columns:  12 !default;

// set all elements to box-sizing: border-box;
// required for grixins
// move this to your base or reset file if you like
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// grid mixins
@mixin row() {
  position: relative;
  width: 100%;
  max-width: $grid-width;
  margin: 0 auto;

  @include clearfix();
}

@mixin columns($columns: $total-columns, $offset: 0) {
  float: left;
  width: 100%;
  max-width: percentage($columns / $total-columns);
  padding-left: $column-gutter / 2;
  padding-right: $column-gutter / 2;

  @if $offset > 0 {
    margin-left: percentage($offset / $total-columns);
  }
}

// example html classes
.row {
  @include row();

  margin-bottom: $column-gutter;
}

@for $i from 1 through $total-columns {
  .span-#{$i} { @include columns($i); }
}

.span-8-offset-4 {
  @include columns(8,4);
}

.span-9-offset-3 {
  @include columns(9,3);
}
