//
// grixins = grid mixins
//

// variables
$grid-width:     960px !default;
$column-gutter:  30px !default;
$total-columns:  12 !default;

// set all elements to box-sizing: border-box;
// required for grixins
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// grid mixins
@mixin row() {
  position: relative;
  width: 100%;
  max-width: $grid-width;
  margin: 0 auto;

  @include clearfix();
}

@mixin columns($columns: $total-columns, $centered: false) {
  float: left;
  width: 100%;
  max-width: percentage($columns / $total-columns);
  padding-left: $column-gutter / 2;
  padding-right: $column-gutter / 2;

  @if $centered == true {
    margin-right: auto;
    margin-left: auto;
  }

  @else {
    float: left;
  }
}

// example html classes
.row {
  @include row();

  margin-bottom: 20px;
}

@for $i from 1 through $total-columns {
  .span-#{$i} { @include columns($i); }
}
