//
// mixins & functions
//

// variables
$prefixes: true;
$rem-base: 16px !default;

// functions
@function rem-calc($pixel-width) {
   @return $pixel-width / $rem-base * 1rem;
}

// mixins
@mixin box-sizing($type:border-box) {
  @if $prefixes {
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
  }
  box-sizing: $type;
}

@mixin clearfix() {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

@mixin background-size($size) {
  @if $prefixes {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
  }
  background-size: $size;
}

@mixin border-radius($radius:$global-radius) {
  @if $prefixes {
    -webkit-border-radius: $radius;
  }
  border-radius: $radius;
}

@mixin box-shadow($shadows...) {
  @if $prefixes {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
  }
  box-shadow: $shadows;
}

@mixin transition($property:all, $speed:300ms, $ease:ease-out) {
  @if $prefixes {
    -webkit-transition: $property $speed $ease;
    -moz-transition: $property $speed $ease;
  }
  transition: $property $speed $ease;
}
