//
// mixins & functions
//

// variables
$prefixes: true !default;

// mixins
@mixin box-sizing($type:border-box) {
  @if $prefixes {
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
  }
  box-sizing: $type;
}

@mixin clearfix() {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

@mixin border-radius($radius:$global-radius) {
  @if $prefixes {
    -webkit-border-radius: $radius;
  }
  border-radius: $radius;
}

@mixin box-shadow($shadows...) {
  @if $prefixes {
    -webkit-box-shadow: $shadows;
    -moz-box-shadow: $shadows;
  }
  box-shadow: $shadows;
}
