footer
  p &copy; 2014 Luke Chamberlin
  p The Grixins source code is licensed under <a href="http://opensource.org/licenses/MIT">MIT</a> and is available on <a href="https://github.com/lchamb/grixins">GitHub</a>.
